/**
 *  Login
 */

[data-route="login"],
[data-route="sign-up"] {
  .card {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  }
}

[data-route="login"] {
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: center;
}

[data-route="landing"] {
  overflow: hidden;
}
