.navigation {
  .navbar-brand {
    font-weight: 300;
  }
  .navbar-toggler {
    border: none;
    position: absolute;
    right: 10px;
  }
  .nav-link {
    .fa-xs {
      position: relative;
      top: -2px;
    }
  }
}
