// Backgrounds
@each $color, $value in $grays {
  @include bg-variant(".bg-gray-#{$color}", $value, true);
}

.bg-black {
  background: $black !important;
}

// Text
.lh-1 {
  line-height: 1;
}

// Font
.font-light {
  font-weight: 300 !important;
}

// Images
.img-circle {
  border-radius: 50%;
}
